<div id="container">       
        <form> 
        <label for="User">User:</label>
        <input type="text" class="btn btn-primary" (click) = "onForumButtonClick()" value="Forum"/>
        <label for="Forum">Forum:</label>
        <input type="button" class="btn btn-primary" (click) = "onForumButtonClick()" value="Forum"/>
        <label for="Thread">Thread:</label>
        <input type="button" class="btn btn-primary" (click) = "onThreadButtonClick()" value="Thread"/>
        <label for="Feed">Feed:</label>
        <input type="button" class="btn btn-primary" (click) = "onFeedButtonClick()" value="Feed"/>
        <label for="Library">Library:</label>
        <input type="button" class="btn btn-primary" (click) = "onLibraryButtonClick()" value="Library"/>
        <div id="lower">
        </div><!--/ lower-->
        </form>
        </div>
    