<div id="container">       
    <form>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <label for="password">Password:</label>
    <input type="text" id="password" name="password">
    <label for="Re-Enter Password">Password2:</label>
    <input type="text" id="password2" name="password2">
    <label for="first_name">first_name:</label>
    <input type="text" id="first_name" name="first_name">
    <label for="last_name">last_name</label>
    <input type="text" id="last_name" name="last_name">
    <div id="lower">
    <input type="submit" value="Login">
    </div><!--/ lower-->
    </form>
    </div>
    