<div id="container">       
    <form> 
    <label for="Games">games:</label>
    <input type="button" class="btn btn-primary" (click) = "onGamesButtonClick()" value="Games"/>
    <label for="Consoles">consoles:</label>
    <input type="button" class="btn btn-primary" (click) = "onConsolesButtonClick()" value="consoles"/>
    <label for="User Library">user_lib:</label>
    <input type="button" class="btn btn-primary" (click) = "onUser_libButtonClick()" value="user_lib"/>
    </form>
    </div>
