<div id="container">       
    <form> 
    <label for="post">post:</label>
    <input type="text" id="post" name="post">
    <label for="like">like:</label>
    <input type="button" class="btn btn-primary" (click) = "onLikeButtonClick()" value="Like"/>
    <label for="love">love:</label>
    <input type="button" class="btn btn-primary" (click) = "onLoveButtonClick()" value="Love"/>
    <label for="sad">sad:</label>
    <input type="button" class="btn btn-primary" (click) = "onSadButtonClick()" value="sad"/>
    </form>
    </div>